{% extends "mainapp/wrapper.html" %}

{% block content %}

<script language="JavaScript">
    function toggleSelect(elem) {

    document.getElementById("submit").click();
    }
    </script>

<div class="form-row">
        <div class="form-group col-md-10">
            <form method="post" enctype="multipart/form-data" id="js-upload-form">
                {% csrf_token %}
                <div class="container">

    <div class="row">
         <div>
                 <div class="form-check form-check-inline mt-3 w-95 col">


                      {{ form.fio }}

                    </div>
        </div>
        <div>
             <div class="form-group row mt-3">
                    <div class="col-sm-1">
                        <button type="submit" id="submit" class="btn btn-primary mb-2">Поиск</button>

                    </div>
                </div>
        </div>
    </div>
                </div>



<h1 class="display-4">Операторы</h1>
<div class="jumbotron mt-3">

 {% for operator in all_operators %}
      {% if operator.fio %}
<a href="/operators/{{ operator.id }}"><h3>{{ operator.fio }}</h3></a>
    {% if operator.filial_name %}
    <h5 class="text-info">Наименование филиала: <p style="display:inline" class="text-dark">{{ operator.filial_name }}</p></h5>
    {% endif %}
    {% if operator.telephone %}
    <h5 class="text-info">Рабочий телефон: <p style="display:inline" class="text-dark">{{ operator.telephone }}</p></h5>
    {% endif %}
    {% if operator.email %}
    <h5><a href="mailto:{{ operator.email }}">{{ operator.email }}</a></h5>
    {% endif %}
    <br>
      {% endif %}
    {% endfor %}


<br>
</div>
            </form>
        </div>
</div>
{% endblock %}