{% extends "mainapp/wrapper.html" %}

{% block content %}

<h2 class="text-info">{{operators.fio}}</h2>
{% if operators.filial %}
<h5 class="text-info">Наименование Филиала: <p style="display:inline" class="text-dark">{{ operators.filial.filial_name }}</p></h5>
{% endif %}
{% if operators.position %}
<h5 class="text-info">Должность: <p style="display:inline" class="text-dark">{{operators.position}}</p></h5>
{% endif %}
{% if operators.telephone %}
<h5 class="text-info">Телефон: <p style="display:inline" class="text-dark">{{ operators.telephone }}</p></h5>
{% endif %}
{% if operators.email %}
<h5 class="text-info">E-mail:<a href="mailto:{{ operator.email }}"> {{ operators.email }}</a></h5>
{% endif %}
{% if operators.service_uz_name %}
<h5 class="text-info">Сервисная учетная запись оператора: <p style="display:inline" class="text-dark">{{ operators.service_uz_name }}</p></h5>
{% endif %}
{% if operators.dss_cert_thumbrint %}
<h5 class="text-info">Сертификат оператора: <p style="display:inline" class="text-dark">{{ operators.dss_cert_thumbrint }}</p></h5>
<h5 class="text-info">Срок действия сертификата оператора: <p style="display:inline" class="text-dark">{{ operators.dss_cert_valid_to|date:"d.m.Y H:i" }}</p></h5>
{% endif %}
{% if operators.filial.service_point_email %}
<h5 class="text-info">Электронный адрес Удаленного пункта выдачи сертификатов: <a href="mailto:{{ operator.email }}">{{ operators.filial.service_point_email }}</a></h5>
{% endif %}
{% if operators.filial.cn %}
<h5 class="text-info">Отображаемое имя в адресной книге: <p style="display:inline" class="text-dark">{{ operators.filial.cn }}</p></h5>
{% endif %}
{% if operators.filial.rg_hpsm %}
<h5 class="text-info">РГ в HP SM (дополнительная): <p style="display:inline" class="text-dark">{{ operators.filial.rg_hpsm }}</p></h5>
{% endif %}
{% if operators.filial.rg_kuc_hpsm %}
<h5 class="text-info">РГ КУЦ в HP SM: <p style="display:inline" class="text-dark">{{ operators.filial.rg_kuc_hpsm }}</p></h5>
{% endif %}
{% if operators.filial.ss_adress %}
<h5 class="text-info">Филиал: <p style="display:inline" class="text-dark">{{ operators.filial.ss_adress }}</p></h5>
{% endif %}
{% if operators.filial.rg_hpsm_coordinator %}
<h5 class="text-info">Координатор РГ в HP SM: <p style="display:inline" class="text-dark">{{ operators.filial.rg_hpsm_coordinator }}</p></h5>
{% endif %}
{% if operators.filial.post_system_contact %}
<h5 class="text-info">Контакты для размещения в Пошаговой схеме: <p style="display:inline" class="text-dark">{{ operators.filial.post_system_contact }}</p></h5>
{% endif %}
{% if operators.filial.work_problems %}
<h5 class="text-info">Адрес СС: <p style="display:inline" class="text-dark">{{ operators.filial.work_problems }}</p></h5>
{% endif %}
{% if operators.filial.description %}
<h6 class="text-info">Примечание: <p style="display:inline" class="text-dark">{{ operators.filial.description }}</p></h6>
{% endif %}
<p>{{operators.operator|safe|linebreaks}}</p>

<br>
{% endblock %}